<div class="index">
  <div class="title">
    <h1>Lista de artigos</h1>
  </div>

  <div class="index-time">
    Este blog tem <%= Article.public_count %> artigos cadastrados!
  </div>

  <ul class="list-article">
    <% @articles.each do |article| %>
    <li class = "card">
        <h3> <%= article.title %> </h3>
        <div class = "leia" >
            <%= link_to "Leia mais", article, :class => "btn" %>
        </div>
    </li>
    <% end %>
  </ul>


  <div id = "new-article-btn-cont">
    <%= link_to "Clique aqui para criar novo artigo", new_article_path, :class => "btn", :id => "new-article-btn" %> 
  </div>  
</div>

