 *{
    margin: 0;
    padding: 0;

  }

.container {
  font-family: "Poppins", sans-serif;
  background: #dcd4ec;
  text-align: center;
}
.container .nav-bar {
  background: #c09ccc;
  height: 4em;
	margin-bottom: 1em;
  }

.container .nav-bar .logo{
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  color: #4c445c;
  line-height: 2;
}

.index .title h1 {
  color: #4c445c;
}

.index .index-time {
  line-height: 1.8;
}

.index .list-article{
  line-height: 4;
}

.index .teste{
  
}

.index .new-article button{
  min-width: 300px;
  min-height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #4c445c;
  background:#c09ccc;
  border: none;
  border-radius: 1000px;
}